/* Main body container */
div.main-body {
  display: grid;
  grid-gap: 1%;
  margin: 1%;
}
/* Character Styles */
div.character-container {
}
/* Character Info - Container 8 grids*/
div.character-container div.information {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}

div.information > div {
  border: 1px solid black;
}

/* Character Info - ability scores */
div.ability-score h3 {
  margin-top: 2%;
  margin-left: 7%;
  width: 50%;
}

div.ability-score table {
  /* background-color: brown; */
  margin: 7%;
  margin-top: 0;
  margin-bottom: 0;
  width: 40%;
  table-layout: auto;
}
/* Character Info - abillity scores stats*/
table.stat-table td.stat-name {
  display: flex;
}

tr.stat-item {
  font-weight: 700;
}

tr.stat-item td.stat-name p {
  width: 10px;
}

tr.stat-item td.stat-info p {
  text-align: center;
}

tr.stat-item td.stat-mod p {
  text-align: right;
}

div.info1 {
  /* background-color: brown; */
}
